<ion-header>
  <!--Cabeçalho-->
  <div class="carteira-header hor-center-cont">

    <div>
      <ion-grid align-items-start>
        <ion-row>
          <ion-col col-12 no-padding>
            <ion-icon float-left padding-right menuToggle class="menu-icon" name="menu"></ion-icon>
            <h3 class="seu-saldo">Seu saldo</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <div text-center *ngIf="!balanceReceived">
      <ion-spinner name="circles"></ion-spinner>
    </div>

    <div no-padding *ngIf="balanceReceived">
      <ion-row align-items-baseline>
        <ion-col col-12 text-center>
          <p class="firstClass">{{ saldo| number: '1.0-0' }}</p>
          <p class="secondClass">RNV</p>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-header>


<ion-content>

  <div class="hor-center-cont carteira-content">

    <!--Pesquisar-->
    <ion-card padding>
      <h2 text-center margin-bottom class="carteira-subtitle">Pesquisar</h2>
      <ion-row>
        <ion-col text-center>
          <img src="/assets/imgs/localizacao.svg" class="search-logo" margin-bottom>
          <p>Localização</p>
        </ion-col>
        <ion-col text-center>
          <img src="/assets/imgs/loja.svg" class="search-logo" margin-bottom>
          <p>Lojas</p>
        </ion-col>
        <ion-col text-center>
          <img src="/assets/imgs/ecoponto.svg" class="search-logo" margin-bottom>
          <p>Ecopontos</p>
        </ion-col>
      </ion-row>
      <div text-center padding>
        <button block ion-button color="secondary" class="carteira-btn">Encontrar o mais próximo</button>
      </div>
    </ion-card>

    <!--Ofertas-->
    <h2 text-center class="carteira-subtitle" padding-top>Melhores ofertas</h2>
    <div text-center>
      <img src="/assets/imgs/estrelas.svg">
    </div>

    <ion-slides pager>
      <ion-slide *ngFor="let offer of offerList.slice(0,3)">
        <ion-card padding>
          <h2 text-center margin-bottom class="carteira-subtitle">{{ offer.title }}</h2>
          <ion-row style="margin-top: 8px;">
            <ion-col>
              <img src="{{ '/assets/imgs/' + offer.thumbnail }}">
            </ion-col>
            <ion-col class="item-text-wrap">
              <p style="margin-top: -16px;" class="offer-merchant">{{ offer.merchant }}</p>
              <ion-row no-padding>
                <ion-col no-padding>
                  <span no-padding class="offer-discount">
                    <ion-icon name="pricetag"></ion-icon> {{ offer.discount }}
                  </span>
                </ion-col>
              </ion-row>
              <ion-row no-padding style="margin-top: -16px;">
                <ion-col no-padding>
                  <span no-padding class="offer-disc-text">Desconto</span>
                </ion-col>
              </ion-row>
              <span class="offer-value">{{ offer.value }}</span>
              <span class="offer-token">RNV</span>
            </ion-col>
          </ion-row>
          <div padding>
            <button block ion-button color="secondary" class="carteira-btn" style="margin-top: -8px;">Ver oferta</button>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <div text-center padding>
      <button block ion-button color="secondary" class="carteira-btn" (click)="navCtrl.push('ListaOfertasPage')">
        Ver todas as ofertas 
        <ion-icon name="md-arrow-forward" padding></ion-icon> 
      </button>
    </div>

  </div>

</ion-content>