<ion-content>


  <div padding class="carteira-header hor-center-cont">

    <div>

      <ion-grid align-items-start>
        <ion-row>
          <ion-col col-12>
            <ion-icon float-left padding-right menuToggle name="menu"></ion-icon>
            <h3 class="seu-saldo">Seu saldo</h3>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>


    <div *ngIf="!balanceReceived">
      <ion-spinner name="circles"></ion-spinner>
    </div>

    <div *ngIf="saldo == 0">
      <ion-grid>
        <ion-row align-items-baseline>
          <ion-col col-12 text-center>
            <p class="firstClass">0</p>
            <p class="secondClass">RNV</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="saldo">
      <ion-row>
        <h2>Seu saldo</h2>
      </ion-row>
      <ion-row align-items-baseline>
        <ion-col></ion-col>
        <ion-col nowrap no-padding>
        </ion-col>
        <ion-col nowrap no-padding>
          <p text-left class="carteira-header-saldo"> {{ saldo| number: '1.0-0' }}</p>
          <p class="rnv">RNV</p>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
  </div>

  <div class="hor-center-cont carteira-content">

    <ion-card>
      <h2 text-center>Pesquisar</h2>
      <ion-row>
        <ion-col>
          <p>Localização</p>
        </ion-col>
        <ion-col>
          <p>Lojas</p>
        </ion-col>
        <ion-col>
          <p>Ecopontos</p>
        </ion-col>
      </ion-row>
        <div text-center>
          <button ion-button color="secondary">Encontrar o mais próximo</button>
        </div>
    </ion-card>

    <h2>Melhores ofertas</h2>
    <ion-card padding>
      <h2>{{ offer.title }}</h2>
      <ion-row>
        <ion-col>
          {{ offer.thumbnail }}
        </ion-col>
        <ion-col>
          <p>{{ offer.merchant }}</p>
          <p>{{ offer.discount }}</p>
          <p>{{ offer.value }}</p>
        </ion-col>
      </ion-row>
      <button ion-button color="secondary" padding>Ver oferta</button>
    </ion-card>

    <div text-center>
      <button ion-button color="secondary">Ver todas as ofertas <ion-icon name="arrow-forward"></ion-icon> </button>
    </div>

  </div>

</ion-content>
