
<ion-header>
    <!--Cabeçalho-->
    <div class="carteira-header hor-center-cont">
  
      <div>
        <ion-grid align-items-start>
          <ion-row>
            <ion-col col-12 no-padding>
                <ion-icon float-left padding-right menuToggle class="menu-icon" name="menu"></ion-icon>
                <h3 class="seu-saldo">Seu saldo</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
  
      <div text-center *ngIf="!balanceReceived">
        <ion-spinner name="circles"></ion-spinner>
      </div>
  
      <div no-padding *ngIf="balanceReceived">
        <ion-row align-items-baseline>
          <ion-col col-12 text-center>
            <p class="firstClass">{{ saldo| number: '1.0-0' }}</p>
            <p class="secondClass">RNV</p>
          </ion-col>
        </ion-row>
      </div>
  
    </div>
  </ion-header>


<ion-content>

  <form padding [formGroup]="signOfferForm" (ngSubmit)="signUp()">

    <ion-grid>

      <ion-row>
        <ion-col col-12>
          <!-- Criar Oferta -->

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Nome da Loja:
              </ion-label>
              <ion-input type="email" formControlName="store_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Nome do Produto:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Descrição do Produto:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Código Ref.:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Img Url:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Preço Original:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Preço Renovas:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                % Desconto:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Preço Final:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
              <button ion-button full class="button-bottom" color="primary" (click)="nextStep('fase2')">Inserir Oferta</button>
          </div>



        </ion-col>
      </ion-row>
    </ion-grid>

  </form>



</ion-content>