<!--
  Generated template for the ComerciantePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div padding class="carteira-header hor-center-cont">

    <div>
      <ion-grid align-items-start>
        <ion-row>
          <ion-col col-12>
            <ion-icon float-left padding-right menuToggle name="menu"></ion-icon>
            <h3 class="seu-saldo">Seu saldo</h3>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <!--
        <div *ngIf="!balanceReceived">
          <ion-spinner name="circles"></ion-spinner>
        </div>

    -->

    <div *ngIf="saldo == 0">
      <ion-grid>
        <ion-row align-items-baseline>
          <ion-col col-12 text-center>
            <p class="firstClass">0</p>
            <p class="secondClass">RNV</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="saldo">
      <ion-row>
        <h2>Seu saldo</h2>
      </ion-row>
      <ion-row align-items-baseline>
        <ion-col></ion-col>
        <ion-col nowrap no-padding>
        </ion-col>
        <ion-col nowrap no-padding>
          <p text-left class="carteira-header-saldo"> {{ saldo| number: '1.0-0' }}</p>
          <p class="rnv">RNV</p>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
  </div>


</ion-header>


<ion-content>

  <form padding [formGroup]="signOfferForm" (ngSubmit)="signUp()">

    <ion-grid>

      <ion-row>
        <ion-col col-12>
          <!-- Firt Name -->

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Nome da Loja:
              </ion-label>
              <ion-input type="email" formControlName="store_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Nome do Produto:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Descrição do Produto:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Código Ref.:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Img Url:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Preço Original:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Preço Renovas:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                % Desconto:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label stacked class="text label">
                Preço Final:
              </ion-label>
              <ion-input type="email" formControlName="product_name">
              </ion-input>
            </ion-item>
          </div>

          <div>
              <button ion-button full class="button-bottom" color="primary" (click)="nextStep('fase2')">Inserir dados</button>
          </div>



        </ion-col>
      </ion-row>
    </ion-grid>

  </form>



</ion-content>