page-lista-ofertas {

        
        .carteira-header{
            background: $hor-background;
            color: #fff;
            width: 100%;
            height: 120px;
            font-size: 20px;
            font-weight: 500px;
        }
    
        .menu-icon {
            font-size: 36px;
            padding-left: 24px;
        }
    
        .carteira-header-saldo{
            font-size: 40px;
            display: inline!important;
        }
    
        .carteira-header-rnv {
            font-size: 24px;
            display: inline!important;
        }
    
        .carteira-content {
            padding-top: 1px;
            color: color($colors, text);
            font-size: 14px;
            font-weight: 500;
            line-height: 2.23;
            background-color: #f7f9d3;
            button {
                color: color($colors, text);
                text-transform: none;
            }
        }
    
        .carteira-btn {
            font-weight: bolder;
        }
    
        .carteira-header-rs {
            font-size: 14px;
        }
    
        .carteira-subtitle {
            font-size: 18px;
            font-weight: 500;
        }
    
        .seu-saldo {
            width: 148px;
            height: 24px;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.07;
            letter-spacing: normal;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            color: #ffffff;
            padding-top: 8px;
          }
    
        .firstClass, .secondClass {display: inline!important;}
    
        .firstClass {
            width: 279px;
            height: 48px;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
          }
    
          .secondClass{
            width: 279px;
            height: 24px;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
    
          }
    
    
        .pdl32{
            padding-right: 32px;
        }
        h3{
            font-size: 20px;
            font-weight: 300;
        }
    
        button{
            border-width: 2px!important;
        }
    
        // Edit button colors for ionic here:
    
        .button-outline-ios-secondary.activated {
            background: transparent !important;
            border-color: color($colors, secondary-active) !important;
            color: color($colors, secondary-active) !important;
        }
        
        .button-outline-md-secondary.activated {
            background: transparent !important;
            border-color: color($colors, secondary-active) !important;
            color: color($colors, secondary-active) !important;
        }
    
        .search-logo {
            width: 72px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .swiper-pagination-bullet {
            background-color: color($colors, primary) !important;
        }
    
        .swiper-slide img {
            height: 157px;
        }
    
        .offer-merchant {
            border-bottom: 1px solid color($colors, secondary) !important;
        }
    
        .offer-discount {
            font-size: 28px;
        }
    
        .offer-disc-text {
            font-size: 14px;
        }
    
        .offer-value {
            color: color($colors, primary) !important;
            font-size: 32px;
        }
    
        .offer-token {
            color: color($colors, primary) !important;
            font-size: 14x;
        }
    
        ion-spinner * {
            stroke: color($colors, primary-active)!important;
            fill: color($colors, light)!important;
            width: 40px;
            height: 40px;
        }
    
    

}
