// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


// --------------------------------------------------
// Docs for overriding ionic variables here:
// https://ionicframework.com/docs/theming/overriding-ionic-variables/
// --------------------------------------------------


// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "/assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$item-ios-divider-color: #0d7dba;
$item-md-divider-color: #0d7dba;
$item-wp-divider-color: #0d7dba;

$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:          #8dc63f,
  primary-active:   #0a5075,
  secondary:        #d7df23,
  secondary-active: #5b9fa4,
  danger:           #d0021b,
  light:            #f4f4f4,
  dark:             #4a4a4a,
  info:             #76CDD3,
  bg-light:         #d7df23,
  bg-dark:          #8dc63f,
  adm-bg-light:     #b6b6b6,
  adm-bg-dark:      #313030,


  text:             #5e5f5f,
);

$hor-background: linear-gradient(to right, color($colors, bg-dark), color($colors, bg-light));


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$range-ios-knob-width: 40px!important;
$range-ios-knob-heigth: 40px!important;
$range-ios-knob-border-radius: 4px!important;
$range-ios-bar-height: 14px!important;
$range-ios-bar-background-color: transparent;
$range-ios-bar-active-background-color: color($colors, primary-active);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$range-md-knob-width: 40px!important;
$range-md-knob-heigth: 40px!important;
$range-md-knob-border-radius: 4px!important;
$range-md-bar-height: 20px!important;
$range-md-bar-background-color: transparent;
$range-md-bar-active-background-color: color($colors, primary-active);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
